.navbar{
    background-color:#999;
    padding:16px;
}

.navbar ul{
    display:flex;
    /*justify-content:space-around;*/
}

.navbar li{
    list-style:none;
    padding-right:8px;
}

a button{
    background-color:#333;
    color:#ddd;
    text-transform:uppercase;
    padding:16px;
    text-decoration:none;
    border:none;
}

a button:hover{
    background-color:#000;
    color:#888;
}

button.shows{
    
}